/* Edit bootstrap variable for a specific button */
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

/* Always show dark mode toggle button */
.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* 
Set the body min height to the height of the browser
to avoid floating footer
*/
body {
  min-height: 100vh;
}

/* Offset for # navigation */
:target {
  scroll-margin-top: 11rem;
}

/* Custom size for small devices */
@media (max-width: 576px) {
  .index-hero {
    height: 30vh !important;
  }

  :target {
    scroll-margin-top: 7rem;
  }
}

/* Inverse color filter for slideshow commands */
.inverse-color-filter {
  filter: invert(1) grayscale(100) !important;
}
[data-bs-theme=dark] .inverse-color-filter {
  filter: none !important;
}

/* Object fit rule for images in cards */
.fit-cover {
  object-fit: cover;
}

/* Custom card size */
.card {
  width: 18rem;
}

/* Hero background image and size */
.index-hero {
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/code.png");
}

/* Hero overlay */
.index-hero>div {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}